body {
    font-family: sans-serif;
    background-color: white;
    ;
}

.container {
    width: 100%;
    min-width: 450px;
    min-height: 400px;
    height: 100%;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgba(255,255,255, 0.05);
    box-shadow: 5px 5px 15px 10px rgba(0255,255,255,0.5);
    background-color: white;
    position: absolute;
}

.container>span {
    padding-left: 20px;
    position: absolute;
    top:0;
    left:0;
}

.container>.mainBoard {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;
}

.container>.mainBoard>#title {
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    align-self: center;
}

.mainBoard>#counter {
    width: 100%;
    font-size: 70px;
    margin-bottom: 30px;
}

.mainBoard>#action {
    width: 100%;
}

.mainBoard>#action>.btn {
    font-size: 20px;
    margin: 10px;
    padding: 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
}